{{< default }}

<main class="content" role="main">

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src=" {{ asset '/images/n-0.jpg' }}" alt="picture-0" width="460" height="345">
      </div>

      <div class="item">
        <img src="{{ asset '/images/n-1.jpg' }}" alt="picture-1" width="460" height="345">
      </div>
    
      <div class="item">
        <img src="{{ asset '/images/n-2.jpg' }}" alt="picture-2" width="460" height="345">
      </div>

      <div class="item">
        <img src="{{ asset '/images/n-3.jpg' }}" alt="picture-3" width="460" height="345">
      </div>

      <div class="item">
        <img src="{{ asset '/images/n-4.jpg' }}" alt="picture-3" width="460" height="345">
      </div>

      <div class="item">
        <img src="{{ asset '/images/n-5.jpg' }}" alt="picture-3" width="460" height="345">
      </div>

      <div class="item">
        <img src="{{ asset '/images/n-6.jpg' }}" alt="picture-3" width="460" height="345">
      </div>

      <div class="item">
        <img src="{{ asset '/images/n-7.jpg' }}" alt="picture-3" width="460" height="345">
      </div>

      <div class="item">
        <img src="{{ asset '/images/n-8.jpg' }}" alt="picture-3" width="460" height="345">
      </div>

      <div class="item">
        <img src="{{ asset '/images/n-9.jpg' }}" alt="picture-3" width="460" height="345">
      </div>

      <div class="item">
        <img src="{{ asset '/images/n-10.jpg' }}" alt="picture-3" width="460" height="345">
      </div>

      <div class="item">
        <img src="{{ asset '/images/n-11.jpg' }}" alt="picture-3" width="460" height="345">
      </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

    {{#foreach posts}}

    <article class="preview">
        <header>
            <h1 class="post-title"><a href="{{url}}">{{{title}}}</a></h1>
            <div class="post-meta"><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="dddd, MMMM DD, YYYY"}}</time></div>
        </header>
        <section class="post-excerpt">
            <p>{{excerpt}}&hellip;</p>
            <p class="readmore"><a href="{{url}}">Read this article <i class="fa fa-chevron-circle-right"></i></a></p>
        </section>
    </article>

    {{/foreach}}

    {{pagination}}

</main>